@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BankWebService</h1>
    <p>Please choose your login type:</p>

    <div class="d-flex justify-content-center">
        <a href="@Url.Action("UserLogin", "Login")" class="btn btn-primary btn-lg m-2">User Login</a>
        <a href="@Url.Action("AdminLogin", "Login")" class="btn btn-secondary btn-lg m-2">Admin Login</a>
    </div>
</div>
